progit.*.pdf
progit.*.mobi
progit.*.epub
progit.*.html
progit-*.epub
!progit.ja.pdf
!progit.ja.mobi
!progit.ja.epub
!progit.ja.html
*.swp
latex/*
!latex/makepdf
!latex/README
!latex/template.tex
!latex/config.yml
epub/temp
*~
.#*
figures/*
*/*.session
